
@import url('https://fonts.googleapis.com/css?family=Numans');
/* Home */
.homeimg
{
    overflow: hidden;
    transition: 1s all ease;
    width: 100%;
    height: 500px;
    position:relative;
    z-index: 0;
    padding: 0px;
    background:url('./assets/123456.jpg') !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.homeimg .text{
    color: white;
    margin-top:150px;
}
.homeimg .text .btn .shop{
    background-color: white;
}
.down{
    background-attachment: fixed !important;
}
 
.homeimg img
{
    width: 100%;
    height: 100%;
    padding: 0px;
}



.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}


.wrap-login100 {
  background: url('./assets/cover123.jpg') !important;
  width: 100%;
  position:static;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/*==================================================================
[ login more ]*/
.login100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}



/*==================================================================
[ Form ]*/

.login100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px 55px;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.label-input100 {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #6675df;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100:focus {
  height: 48px;
}

.input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

.has-val {
  height: 48px !important;
}

.has-val + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #6675df;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #6675df;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .login100-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }

  .login100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*==================================================================
[ Social ]*/
.login100-form-social-item {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.login100-form-social-item:hover {
  background: #333333;
  color: #fff;
}



.CardProduct, .CardProducts{
    width: 100% !important;
    background:white !important;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    height:400px;
}
.CardProducts{
    height:500px !important;
}
.CardProductsss{
  width: 100% !important;
  background:white !important;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
  padding:10px;
  margin:10px;
  box-shadow:  2px 2px 6px grey;
  border-radius: 20px 0px 20px 0px;
}
.productImage{
    height: 300px !important;

}
.productImg, .productImage
{
    width:100%;
    height:200px;
    overflow: hidden;
    padding:0px;
}
 
.productImg img, .productImage img
{
    width:100%;
    height: 100%;
    transition: 1s all ease;
}
 
.productImg:hover img, .productImage:hover img
{
    transform: scale(1.5);
}
.product__wrapper
{
    width:100% !important;
    height:fit-content;
    padding:15px;
    background:white;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    margin-top:10px;
    margin-bottom:10px;
}
 
.product__wrapper img   
{
    width:60%;
    height:300px;
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    padding:0px;
    margin-top: 50px;
}
th{
    background: skyblue !important;
}
td{
background: gray !important;;
}
/* Services */
.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #fff;}
.services-icon-wap:hover {background: #69bb7e;}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
  }
.aboutimg img{
    height: 400px;
    width:450px;
}
/* Footer */
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: #68bb7d;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}

/* start features area css
============================================================================================ */
@media (max-width: 768px) {
    .features-area {
      padding-top: 0; } }
.features-area .col-lg-3:last-child .single-features {
    border-right: 0; }
    @media (max-width: 575px) {
      .features-area .col-lg-3:last-child .single-features {
        margin-top: 30px; } }
  .features-area .col-lg-3:nth-child(3) .single-features,
  .features-area .col-lg-3:nth-child(4) .single-features {
    margin-bottom: 0; }
    .f-icon img{
        width: 200px;
        height:150px
    }
    
  
  .features-inner {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px 0; }
  
  .single-features {
    text-align: center;
    border-right: 1px solid #eeeeee; }
    @media (max-width: 991px) {
      .single-features {
        border-right: none;
        margin-bottom: 30px; } }
    .single-features .f-icon {
      margin-bottom: 20px; }
      .single-features .f-icon img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .single-features h6 {
      font-size: 16px;
      margin-bottom: 0; }
    .single-features p {
      margin-bottom: 0; }
    .single-features:hover .f-icon img {
      opacity: .5; }
      .single-deal {
        position: relative;
        margin-bottom: 30px; }
        .single-deal .overlay {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          content: "";
          background: #000;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .single-deal .deal-details {
          position: absolute;
          left: 50%;
          top: 115%;
          display: inline-block;
          text-align: center;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
          .single-deal .deal-details h6 {
            color: #fff;
            text-transform: uppercase; }
        .single-deal:hover .overlay {
          opacity: .5;
          visibility: visible; }
        .single-deal:hover .deal-details {
          top: 50%;
          opacity: 1;
          visibility: visible; }
          
.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}
/* Task */
.cardDesign
{
    width:100%;
    padding:10px;
    background: white;
    border-radius:6px;
    margin:6px;
 
}
.item__img
{
    width:60%;
    height:200px;
    padding:0px;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    margin-bottom: 8px;
    cursor: pointer;
}
 
.item__img img
{
    width: 100%;
    height:100%;
    padding:0px;
    transition:1s all ease;
}
 
.item__img:hover img
{
    transform:scale(1.3);
}
.giveAwayDetails
{
    color:gray;
}
 
.giveaway__form
{
    padding:20px;
    background:rgb(80, 100, 216);
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
}
.itemTable,.dateForm
{
    display:none;
}

 
.giveaway__basket
{
    padding:20px !important;
   background:rgb(238, 236, 236);
   border-radius:10px;
   box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
}
 
.detaill
{
    margin-top:6px;
    margin-left: auto;
    margin-right:auto;
    width:50%;
    
    padding:10px !important;
    border-radius:7px;
    color:white;
}
/* showgiveaway */
.modal__design
{
    background: rgba(57, 57, 242,0.2);
    background-clip: padding-box;
    backdrop-filter: blur(10px);
    border-radius:10px;
    box-shadow: inset 0px 0px 5px transparent;
    border:2px solid transparent;
}
.modal__design label
{
    color:white;
}
th
{
    background: rgb(80, 100, 216);
    color:white;
    
}
td
{
    background: rgb(104, 118, 201);
    color:white;
}
.wrapper2
{
    background: linear-gradient(to right,rgba(55, 0, 60,0.6) 25%,rgba(187,157,251,0.5)),url('./scraf.jpg') !important;
    height: 340px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
   
}


.item__wrapper
{
  background:white;
  border-radius: 6px;
  box-shadow: inset 0px 0px 5px rgba(187,157,251,0.5), 2px 2px 5px rgba(0,0,0,0.6);
  padding:10px;
  margin:10px;

}
.userImg
{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(18px);
  box-shadow: 12px 8px 18px rgba(0,0,0,0.6);
  width:100%;
  height:200px;
  background-clip: padding-box;
  padding:0px;
  border-radius:7px;
  overflow: hidden;

}

.userImg img
{
  width:90%;
  height:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
}

.analysisCard
{
  border-left: 8px solid green; 
  width:100%;
  color:black !important;
  box-shadow: 6px 6px 24px rgba(0,0,0,0.6);
}